<div class="container mx-auto max-w-3xl p-4">
  <h2 class="text-2xl font-bold mb-6">Carta del Restaurante</h2>
  <div *ngFor="let plato of carta" class="menu-item bg-white border border-gray-300 rounded-lg p-4 mb-4 shadow-md">
    <div class="menu-item-content flex">
      <img [src]="plato.imagen" alt="{{ plato.nombre }}" class="menu-item-image w-24 h-24 rounded-lg mr-4 object-cover">
      <div class="menu-item-details flex-1">
        <h3 class="text-xl mb-2">{{ plato.nombre }}</h3>
        <p class="text-lg mb-3 text-gray-600">{{ plato.descripcion }}</p>
        <p class="price text-lg font-bold text-gray-800">{{ plato.precio | currency }}</p>
        <button class="bg-green-500 text-white py-2 px-4 rounded-lg text-lg mt-2 hover:bg-green-600 transition duration-300" (click)="agregarAlPedido(plato)">Añadir al Pedido</button>
      </div>
    </div>
  </div>
</div>
